.App {
  text-align: center;
  font-family: "Comfortaa", cursive;
  background-color: lightblue;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 100px;
  margin-left: 100px;
}
.App h1 {
  margin-bottom: 4rem;
  color: rgb(85, 34, 167);
  text-shadow: 0 0 5px #173186;
}
.title {
  color: rgb(109, 100, 126);
  text-align: center;
  font-family: "Comfortaa", cursive;
  font-size: 50px;
  padding-top: 20px;
  color: rgb(107, 31, 184);
  text-shadow: 0 0 5px #0e2d91;
}

.itemDeleteButton {
  border-radius: 0 !important;
  padding: 0.175rem 0.35rem !important;
}

.checked {
  text-decoration: line-through;
}
